<script id="events-with-volunteers-template" type="x-template">
    <ul class="list-group">
        \{{#each data}}
            <li class="list-group-item">\{{this.name}} (\{{this.volunteers}} volunteers)</li>
        \{{/each}}
    </ul>
</script>
